<!DOCTYPE html>
<html>
    <head>
        <title>Book track - year</title>
        <%- include ('resources/head.html') %>
    </head>

    <body>
        <%- include ('resources/header.ejs') %>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-xl-10">
                    <% for(let i=0; i < books.length/3; i++) { %>
                    <div class="row justify-content-center">
                        <% for(let j=0; j < 3; j++) { %>
                        <div class="col-sm-6 col-md-4">
                            <% let book = books[3*i+j] %>
                            <% if (book != null) { %>
                            <div class="card">
                                <img class="card-img-top" src="<%=book.cover%>"
                                    alt="Okładka">
                                <div class="card-body">
                                    <h4 class="card-title text-center"><%=book.title%></h4>
                                    <h6 class="card-text text-center"> <%=book.author%></h6>
                                    <h6 class="card-text text-center"> Liczba stron: <%=book.pages%></h6>
                                    <div class="d-flex justify-content-center">
                                        <a href="/add_book/delete?book_title=<%=book.title%>&book_author=<%=book.author%>&book_cover=<%=book.cover%>&book_pages=<%=book.pages%>&book_id=<%=book._id%>" 
                                            class="btn btn-primary">Przeczytane</a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
                </div>
        </div>
    <script type="text/javascript">
        function deleteBook(book_id) {
            console.log("trying to delete an item");
            db.collection("books").deleteOne(( {"_id": book_id}), function(err, obj) {
                if (err) throw err;
                console.log("item deleted");
            });
        }
    </script>
    </body>
    <%- include ('resources/scripts.html') %> 
</html>