<!DOCTYPE html>
<html>
    <head>
        <title>Dodawanie książki</title>
        <%- include ('resources/head.html') %>
    </head>

    <body>
        <%- include ('resources/header.ejs') %>
        <div class="container"> 
            <div class="row">
                <div class="col-xs-12 col-lg-9 col-xl-10 mx-auto" id="main_col">
                    <h2 class="text-center"> Dodawanie książki: </h2>
                    <div class="col-xs-8 col-lg-7 col-xl-8 mx-auto">
                        <h1 class="text-uppercase text-center"> 
                            <%=current_book.title%> 
                        </h1> 
                        <div class="subheading mb-1 text-center"> 
                            <%=current_book.author%> 
                        </div>
                        <div class="subheading mb-1 text-center">
                            <span class="book_info_title">Liczba stron: </span>
                            <%=current_book.pages%>
                        </div>
                        <form action="/update?book_id=<%=current_book._id%>" method="post">
                            <label for="dateBook">Data przeczytania:</label>
                            <div id="dateBook" class="row">
                                <div class="form-group col-md-4">
                                <label for="day">Dzień:</label>
                                <select id="day" name="day" class="form-control">
                                    <option selected>Wybierz dzień...</option>
                                    <% for(let i=1; i < 32; i++) { %>
                                    <option value=<%=i%> ><%=i%></option>
                                    <% } %>
                                </select>
                                </div>
                                <div class="form-group col-md-4">
                                <label for="month">Miesiąc:</label>
                                <select id="month" name="month" class="form-control">
                                    <option selected>Wybierz miesiąc...</option>
                                    <option value=1>Styczeń</option>
                                    <option value=2>Luty</option>
                                    <option value=3>Marzec</option>
                                    <option value=4>Kwiecień</option>
                                    <option value=5>Maj</option>
                                    <option value=6>Czerwiec</option>
                                    <option value=7>Lipiec</option>
                                    <option value=8>Sierpień</option>
                                    <option value=9>Wrzesień</option>
                                    <option value=10>Październik</option>
                                    <option value=11>Listopad</option>
                                    <option value=12>Grudzień</option>
                                </select>
                                </div>
                                <div class="form-group col-md-4">
                                <label for="year">Rok:</label>
                                <select id="year" name="year" class="form-control">
                                    <option selected>Wybierz rok...</option>
                                    <option value=2019 >2019</option>
                                    <option value=2020 >2020</option>
                                    <option value=2021 >2021</option>
                                </select>
                                </div>
                            </div>
                            <label for="rateBook">Ocena:</label>
                            <div class="form-group" name="rateBook" id="rateBook">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rateBook" type="checkbox" id="oneStar" value="1">
                                    <label class="form-check-label" for="oneStar">&#x2B50;</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rateBook" type="checkbox" id="twoStar" value="2">
                                    <label class="form-check-label" for="twoStar">&#x2B50; &#x2B50;</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rateBook" type="checkbox" id="threeStar" value="3">
                                    <label class="form-check-label" for="threeStar">&#x2B50; &#x2B50; &#x2B50;</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rateBook" type="checkbox" id="fourStar" value="4">
                                    <label class="form-check-label" for="fourStar">&#x2B50; &#x2B50; &#x2B50; &#x2B50;</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rateBook" type="checkbox" id="fiveStar" value="5">
                                    <label class="form-check-label" for="fiveStar">&#x2B50; &#x2B50; &#x2B50; &#x2B50; &#x2B50;</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comment">Notatka:</label>
                                <textarea class="form-control" rows="4" name="noteBook" id="noteBook" placeholder="Notatka"></textarea>
                            </div>
                            <div class="form-group mb-3">
                                <label for="quote">Cytat:</label>
                                <input type="text" class="form-control" name="quote" id="quote" placeholder="Cytat">
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-light">Dodaj</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%- include ('resources/scripts.html') %>    
    </body>

</html>