<!DOCTYPE html>
<html>
    <head>
        <title>Book track - year</title>
        <%- include ('resources/head.html') %>
    </head>

    <body>
        <%- include ('resources/header.ejs') %>
        <div class="container"> 
            <div class="row">
                <div class="col-xs-12 col-lg-9 col-xl-10 mx-auto" id="main_col">
                    <div>
                        <h3 class="text-center">Przeczytane w roku <%=current_year%>: </h3>
                        <table class="table">
                                <thead>
                                        <tr>
                                            <th scope="col"> </th>
                                            <th scope="col"> Tytuł </th>
                                            <th scope="col"> Autor </th>
                                            <th scope="col"> Liczba stron </th>
                                            <th scope="col"> Data zakończenia </th>
                                            <th scope="col"> Ocena </th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <% var j = 0 %>
                                        <% for(let i=0; i < books.length; i++) { %>
                                                <% if (books[i].year == current_year && books[i].is_read == true) { j = j + 1 %>
                                                    <tr>
                                                        <th scope='row'> <%= j %> </th>
                                                        <td > <%=books[i].title%> </td>
                                                        <td > <%=books[i].author%> </td>
                                                        <td > <%=books[i].pages%> </td>
                                                        <td > <%=books[i].day%>-<%=books[i].month%>-<%=books[i].year%> </td>
                                                        <td > 
                                                            <% for(let x = 0; x < books[i].rate; x++) { %>
                                                            <span>&#x2B50; </span>
                                                            <% } %>
                                                        </td>
                                                    </tr>    
                                                <% } %>
                                        <% } %>
                                </tbody>
                        </table>
                    </div>
                    <!-- WYKRES TAJM -->
                </div>
            </div>
        </div>
        
    </body>

</html>