<!DOCTYPE html>
<html>
    <head>
        <title>Book track - roczne zestawienie</title>
        <%- include ('resources/head.html') %>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    </head>

    <body class="body_booktrack">
        <div class="container"> 
            <div class ="row row-full head_booktrack">
                <%- include ('resources/header.ejs') %>
                <h2 class="add_title mb-5">przeczytane w roku <%=current_year%>: </h2>
                <div class="col-xs-12 col-lg-8 col-xl-9 mt-5 mx-auto">
                    <table class="table table-borderless table-hover mb-5">
                            <thead>
                                    <tr>
                                        <th scope="col"> </th>
                                        <th scope="col"> Tytuł </th>
                                        <th scope="col"> Autor </th>
                                        <th scope="col"> Liczba stron </th>
                                        <th scope="col"> Data zakończenia </th>
                                        <th scope="col"> Ocena </th>
                                    </tr>
                            </thead>
                            <tbody>
                                    <% var j = 0 %>
                                    <% for(let i=0; i < books.length; i++) { %>
                                            <% if (books[i].year == current_year && books[i].is_read == true) { j = j + 1 %>
                                                <tr>
                                                    <th scope='row'> <%= j %> </th>
                                                    <td ><a class="text-dark book_info_title text-decoration-none" href='/book_page?book_id=<%=books[i]._id%>' id="choosen_book" name="choosen_book"> <%=books[i].title%> </a></td>
                                                    <td > <%=books[i].author%> </td>
                                                    <td > <%=books[i].pages%> </td>
                                                    <td > <%=books[i].day%>-<%=books[i].month%>-<%=books[i].year%> </td>
                                                    <td > 
                                                        <% for(let x = 0; x < books[i].rate; x++) { %>
                                                        <span>&#x2B50; </span>
                                                        <% } %>
                                                    </td>
                                                </tr>    
                                            <% } %>
                                    <% } %>
                            </tbody>
                    </table>
                </div>
                <div class="col-xs-8 col-lg-5 col-xl-6 mx-auto">
                    <h4 class="text-center diagram_title">Liczba stron przeczytanych w danym miesiącu: </h4>
                    <% var books_array = Array.from(Array(books.length), () => new Array(3)); %>
                    <% for(let i=0; i < books.length; i++) { %>
                        <% books_array[i][0] = parseInt(books[i].year) %> 
                        <% books_array[i][1] = parseInt(books[i].month) %> 
                        <% books_array[i][2] = parseInt(books[i].pages) %> 
                    <% } %>                    
                    <canvas id="GraphBook"></canvas>
                </div>
            </div>
        </div>
    </body>

    
    
    <%- include ('resources/scripts.html') %>
    <script>
        var lgth = parseInt(`<%- JSON.stringify(books.length) %>`);
        var books = JSON.parse( `<%- JSON.stringify(books_array) %>`);
        var current_year = '<%- JSON.stringify(current_year) %>'.split('"');
        current_year = current_year[1];
        var dataB = new Array(12).fill(0);

        for(let i = 0; i < dataB.length; i++) {
            for(let j = 0; j < lgth; j++) {
                if(books[j][0] == current_year && books[j][1] == i+1) {
                    dataB[i] += books[j][2];
                };
            };
        };
        var content = document.getElementById('GraphBook').getContext("2d");
        var myChart = new Chart(content, {
            type: 'bar',
            data: {
                labels: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
                datasets: [{
                    label: 'Rok ' + current_year,
                    data: dataB,
                    backgroundColor: [
                        'rgba(119, 73, 54, 0.5)',
                        'rgba(138, 90, 68, 0.5)',
                        'rgba(157, 107, 83, 0.5)',
                        'rgba(176, 125, 98, 0.5)',
                        'rgba(195, 142, 112, 0.5)',
                        'rgba(205, 151, 119, 0.5)',
                        'rgba(214, 159, 126, 0.5)',
                        'rgba(222, 171, 144, 0.5)',
                        'rgba(230, 184, 162, 0.5)',
                        'rgba(237, 196, 179, 0.5)',
                        'rgba(230, 184, 162, 0.5)',
                        'rgba(222, 171, 144, 0.5)'
                    ],
                    borderColor: [
                        'rgba(119, 73, 54, 1)',
                        'rgba(138, 90, 68, 1)',
                        'rgba(157, 107, 83, 1)',
                        'rgba(176, 125, 98, 1)',
                        'rgba(195, 142, 112, 1)',
                        'rgba(205, 151, 119, 1)',
                        'rgba(214, 159, 126, 1)',
                        'rgba(222, 171, 144, 1)',
                        'rgba(230, 184, 162, 1)',
                        'rgba(237, 196, 179, 1)',
                        'rgba(230, 184, 162, 1)',
                        'rgba(222, 171, 144, 1)'
                    ],
                    borderWidth: 1
                }]
            },
        });
    </script>  
</html>